<section class="insects">

  <h2>Wood Destroying Insects</h2>
  <p>Homes in the DFW area are suseptable to several kinds of insects that will damage wood, from the internal structure to wood fixtures like cabinets. They include:</p>

  <div class="img carpenterant">
    <a href="/resources/insects/carpenterants.html">
      <img src="http://placehold.it/150x150" alt="Carpenter Ants">
      <figcaption>
        <h3 class="type">Carpenter Ants</h3>
        <p class="type__desc">Carpenter ants (Camponotus spp.) are large (0.3 to 1.0 in or 0.76 to 2.54 cm) ants indigenous to many forested parts of the world.</p>
      </figcaption>
    </a>
  </div>

  <div class="img termites">
    <a href="/resources/insects/termites.html">
      <img src="http://placehold.it/150x150" alt="Termites">
      <figcaption>
        <h3 class="type">Termites</h3>
        <p class="type__desc">Termites are eusocial insects that are classified at the taxonomic rank of infraorder Isoptera, or as epifamily Termitoidae within the cockroach order Blattodea. Several hundred species are economically significant as pests that can cause serious damage to buildings, crops, or plantation forests.</p>
      </figcaption>
    </a>
  </div>

    <div class="img">
    <a href="/resources/insects/powerpostbeetles.html">
      <img src="http://placehold.it/150x150" alt="Powder Post Beetles">
      <figcaption>
        <h3 class="type">Powder Post Beetles</h3>
        <p class="type__desc">Powderpost beetles are a group of seventy species of woodboring beetles classified in the insect subfamily Lyctinae. These beetles are considered pests and attack deciduous trees, over time reducing the wood to a powdery dust.</p>
      </figcaption>
    </a>
  </div>

    <div class="img">
    <a href="/resources/insects/carpenterbees.html">
      <img src="http://placehold.it/150x150" alt="Carpenter Bees">
      <figcaption>
        <h3 class="type">Carpenter Bees</h3>
        <p class="type__desc">Carpenter bees (the genus Xylocopa in the subfamily Xylocopinae) are large bees distributed worldwide that build their nests in burrows in dead wood, bamboo, or structural timbers.</p>
      </figcaption>
    </a>
  </div>

</section>