<section class="testimonials">

  <h2>Testimonials</h2>

  <div class="testimonial">
    <h3>J. Smith</h3>
    <img src="http://placehold.it/100x100" alt="">
    <figcaption>J. Smith's house</figcaption>
    <p>"Home Safe Termites found termites in my house. Mmm, they were delicious, fried in butter."</p>
  </div>

  <div class="testimonial">
    <h3>B. Jones</h3>
    <img src="http://placehold.it/100x100" alt="">
    <figcaption>B. Jones's house</figcaption>
    <p>"Bummer&hellip;no termites for our dinner!"</p>
  </div>


  <div class="testimonial">
    <h3>K. Matthews</h3>
    <img src="http://placehold.it/100x100" alt="">
    <figcaption>K. Matthews's house</figcaption>
    <p>"It was great to have a clean bill of health on our now &mdash; NO BUGS!"</p>
  </div>


</section>