<section class="whatwedo">

  <h2>What we do</h2>
  <p>HOME SAFE TERMITE & PEST COMPANY provides its customers with complete residential inspection and treatment for all types of wood destroying insects, from formosan and dry wood termites to carpenter ants, powerpost beetles, & wood boring bees.</p>
  <p>Our team of expert WDI inspectors and treatment specialists are fully trained and  certified by the Texas Department of Agriculture Structural Pest Control Boaard. We bring our expertise to bear at your home to find wood destroying insects in your walls, cabinets & furniture. Once we find them, we eradicate them, and, through our exclusive warranty program, guarantee they’ll never return.</p>
  <p>Our 3-Step Process:</p>
  <ul>
    <li>
      <h3>Step 1</h3>
      <p>If any wood destroying insects are found, we use safe-for-your-family insecticides proven to kill not just the bugs we see, but the nests, too. And keep them from coming back!</p>
    </li>

    <li>
      <h3>Step 2</h3>
      <p>Our inspectors thoroughly search every square inch of your home, inside and out for signs of infestation, either current or past.</p>
    </li>

    <li>
      <h3>Step 3</h3>
      <p>Our OPTIONAL extended warranty guarantees that your home will stay bug free and includes a quarterly re-inspection &amp; additional treatment, as needed for the life of the warranty.</p>
    </li>
  </ul>


</section>